body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  width: fit-content;
}
