@use "abstracts/" as *;

body {
  color: var(--fg-clr-1);
  background-color: var(--bg-clr-1);
  background-image: url("../images/fog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  image-rendering: pixelated;
}

a {
  color: var(--fg-clr-2);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding-left: 1rem;
}

.logo {
  text-align: center;
  h1 {
    transition: transform ease-in-out 0.5s;
  }
}

.terminals {
  display: grid;
  justify-content: center;
  gap: 16px;

  grid-template-rows: 3.3rem 17.5rem 16rem;
  grid-template-columns: 45rem 12rem;
  grid-template-areas:
    "main status"
    "main nav"
    "main music-log";

  > * {
    padding: 1rem;
    border: 2px solid var(--border-clr-1);
    border-radius: 5px;
    background-color: var(--bg-clr-1);
    position: relative;
    &::before {
      background-color: var(--bg-clr-1);
      border: 2px solid var(--border-clr-1);
      border-radius: 1rem;
      width: fit-content;
      height: fit-content;
      padding: 0 8px;
      position: absolute;
      inset: -0.8rem 10px;
      content: "";
    }
  }

  > *:nth-child(1) {
    padding: 1rem;
    grid-area: main;
    &:before {
      content: "Main";
    }
  }

  > *:nth-child(2) {
    grid-area: status;
    &:before {
      content: "Status";
    }
  }

  > *:nth-child(3) {
    grid-area: nav;
    &:before {
      content: "Navigate";
    }
  }

  > *:nth-child(4) {
    grid-area: music-log;
    &:before {
      content: "Currently Playing";
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title h2 {
    margin: 0;
  }

  .row-1 {
    display: flex;
    gap: 1rem;

    .pfp {
      &-border {
        display: flex;
        border: 1px solid #75d97e;
        img {
          width: 100px;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      line-height: 1.8rem;
    }
  }

  .row-2 {
    font-size: 1.2rem;
  }
}

nav {
  ul {
    padding: 0;
    li {
      list-style: none;
      width: fit-content;

      i {
        text-align: center;
        width: 16px;
        transition: transform 0.3s ease-in-out;
      }

      a {
        line-height: 2rem;
        color: var(--fg-clr-2);
      }
    }
  }
}

.music-log {
  .song-info {
    margin-top: 0.5rem;
    overflow-x: hidden;
    text-align: center;
    > div {
      display: flex;
      gap: 8px;
      line-height: 1.5rem;
      align-items: center;
      width: max-content;

      &:nth-child(2) {
        font-size: 0.8rem;
      }

      > i {
        width: 15px;
      }
    }
  }

  .song-album {
    display: flex;
    margin-top: 0.5rem;
    width: 142px;
    height: 142px;
    border: solid 2px gray;
    border-radius: 0.8rem;
    overflow: hidden;
    a {
      img {
        width: 100%;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-clr-1: #0d1117;
    --fg-clr-1: #c9d1d9;
    --fg-clr-2: #75d97e;
    --border-clr-1: #6e6e6e;
  }
  body {
    background-image: url("../images/moon.png");
  }
}

/* phones */

// smol phones
@media (20em <= width <= 30em) and (orientation: portrait) {
  .terminals {
    margin: .5rem;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "status status"
      "main main"
      "nav nav"
      "music-log music-log";
  }

  .music-log {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .song-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (orientation: landscape) {
}

/* tablets */
